node_modules
*.tgz
npm-debug.log
.npmignore
.gitignore

#tests
coverage

# caches
.awcache

# build tools
.jenkins.yml

#linters
.jscsrc
.jshintrc
.eslintrc*
tslint.json
tsconfig.json
.stylelintrc
.stylelintignore

#editor settings
.idea
.editorconfig

# webpack
webpack.babel.mjs
